* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0%;
    height: 60px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    cursor: pointer;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: violet;
}

.background {
    z-index: -1;
    width: 100%;
    position: fixed;
    margin-top: -100px;
}

.showfeats {
    z-index: 1;
    height: 9.3em;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 3em;
    text-shadow: -1px 1px 2px black;
}

.event-date {
    display: flex;
    place-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    width: 65%;
    place-self: center;
    margin-left: 20%;
}

h2 {
    margin-block-start: .1em;
    margin-block-end: .1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.main-tile {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.play {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 60%;
    place-self: center;
    color: black;
    grid-area: auto;
    margin-top: 2em;
}
.play-name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.6em;
    padding-left: 10px;
    border-bottom: 2px solid rgb(185, 185, 185);
    margin-bottom: 1em;
}

.image-container {
    width: auto;
    height: 500%;
    margin-right: 3em;
}

h1 {
    font-size: 90%;
    padding-bottom: 0.8em;
}

.play-info {
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    padding-bottom: 1.6em;
    padding-left: 1em;
    border-bottom: 2px solid rgb(168, 168, 168);
    margin-bottom: 1em;
    margin-right: auto;
}

.button {
    margin-top: 3.5em;
}
.show-btn {
    background-color: rgb(231, 168, 32);
    padding: .7em 1em;
    color: black;
    font-size: 16px;
    border-radius: 3%;
}
.show-btn:hover {
    cursor: pointer;
    background-color: rgb(245, 186, 58);
}

footer {
    margin-top: 50px;
    margin-bottom: 0px;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.map {
    width: 250px;
    padding: 2%;
    padding-left: 100px;
}

.mapping {
    width: 250px;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.footshows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: .06em;
}

.socials {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: .06em;
}

.foothead {
    font-size: 2em;
}

.tiny {
    margin: 3px;
}
